:root{
    --primary-color:#FFCC00;
    --secundary-color: #646464;
    --terceira-color: #AA50DB;
}
body{
    height: 100vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    padding: 80px;

    
    
}

main{
    
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    object-fit: cover;
}


.homem{
    z-index: -999999999999999999999;
    position: absolute;
    font-size: 30vw;
    color: #00000055;
    top: 54%;
    left: 76%;
    transform: translate(-74%, -54.2%);
    height: auto;
    width: 2369px;
    display: flex;


}
.aranha{
    position: absolute;
    font-size: 100vh;
    color: #ffffff55;
    z-index: -99;
    top: 55%;
    left: 40%;
    transform: translate(-83%, -36%);
    width: auto;
    height: 100px;
}

.fundo{
    z-index: -999;
    position: absolute;
    transform: translate(9%, 80%);
    height: auto;
    width: 900px;
    
}
.simbolo{
    z-index: -999;
    position: absolute;
    font-size: 100vw;
    color: #00000055;
    top: 54%;
    left: 50%;
    transform: translate(-448%, -470%);
    height: auto;
    width: 250px;
}
.estrela{
    position: absolute;
    font-size: 100vw;
    color: #00000055;
    top: 54%;
    left: 50%;
    transform: translate(-1150%, 454%);
    height: auto;
    width: 9pz;
}

.rete{
    position: absolute;
    font-size: 100vw;
    color: #00000055;
    top: 54%;
    left: 50%;
    transform: translate(-550%, 440%);
    height: auto;
    width: 160px;
}

.popular{
    position: absolute;
    font-size: 100vw;
    color: #00000055;
    top: 54%;
    left: 50%;
    transform: translate(-542%, 425%);
    height: auto;
    width: 10pz;
}

.play{
    position: absolute;
    font-size: 100vw;
    color: #00000055;
    top: 54%;
    left: 50%;
    transform: translate(-650%, 1300%);
    height: auto;
    width: 160px;
}

.trailer{
    position: absolute;
    font-size: 100vw;
    color: #00000055;
    top: 54%;
    left: 50%;
    transform: translate( -450%, 1300%);
    height: auto;
    width: 160px;
}

.compartilhar{
    position: absolute;
    font-size: 100vw;
    color: #00000055;
    top: 54%;
    left: 50%;
    transform: translate( 400%, -670%);
    height: auto;
    width: 200px;
}
.p{
    position: absolute;
    transform: translate(-99999999999999999999%, -99999999999999%);
}


/* 768 x 1024 */
@media (max-width: 1024px){
.homem{
    position: absolute;
    font-size: 30vw;
    color: #00000055;
    top: 54%;
    left: 76%;
    transform: translate(-44%, -44.6%);
    height: auto;
    width: 2250px;
}

.aranha{
    display: none;
}
.p{
    color: #00000055;
    top: 54%;
    left: 76%;
    transform: translate( -58%, -0%);
    height: auto;
    width: 950px;
}

.compartilhar{
    position: absolute;
    font-size: 30vw;
    color: #00000055;
    top: 54%;
    left: 76%;
    transform: translate(  130%, -570%);
    height: auto;
    
}

.estrela{
    position: absolute;

    color: #00000055;
    top: 54%;
    left: 76%;
    transform: translate(  -550%, 300%);
    height: auto;
    width: 100px;
    
}

.rete{
    position: absolute;

    color: #00000055;
    top: 54%;
    left: 76%;
    transform: translate(  -278%, 390%);
    height: auto;
    width: 200px;
}

.popular{
    position: absolute;

    color: #00000055;
    top: 54%;
    left: 76%;
    transform: translate(  -324%, 490%);
    height: auto;
    width: 170px;
}

.simbolo{
    position: absolute;
    font-size: 30vw;
    color: #00000055;
    top: 54%;
    left: 76%;
    transform: translate(  -361%, -630%);
    height: auto;
    width: 150px;

}

.fundo{
    height: auto;
    width: 400px;
    transform: translate( -10%, 200%);

}

.play{
    position: absolute;
    font-size: 30vw;
    color: #00000055;
    top: 54%;
    left: 76%;
    transform: translate(  -180%, 1200%);
    height: auto;
    width: 260px;
}

.trailer{
    position: absolute;
    font-size: 30vw;
    color: #00000055;
    top: 54%;
    left: 76%;
    transform: translate(  -20%, 1200%);
    height: auto;
    width: 260px;

}

}


/* 375 x 667 */
@media (max-width: 640px){
.aranha{
    display: none;
}

.p{
    display: none;
}

.fundo{
    position: absolute;
    transform: translate(  -31%, 160%);
    height: auto;
    width: 230px;
}

.simbolo{
    position: absolute;
    transform: translate(  -377%, -850%);
    height: auto;
    width: 70px;
}

.homem{
    position: absolute;
    font-size: 30vw;
    color: #00000055;
    top: 54%;
    left: 76%;
    transform: translate(-43%, -54.6%);
    height: auto;
    width: 1180px;
}

.compartilhar{
    position: absolute;
    transform: translate(  -309%, -770%);
    height: auto;
    width: 80px;
}

.estrela{
    position: absolute;
    transform: translate(  -309%, -770%);
    height: auto;
    width: 80px;
}

.rete{
    position: absolute;
    transform: translate(  -309%, -770%);
    height: auto;
    width: 80px;
}

.popular{
    position: absolute;
    transform: translate(  -309%, -770%);
    height: auto;
    width: 80px;
}




}
